# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# DO NOT ignore .github (needed for GitHub Actions)
#.github/

# Ignore IDE folders
.vscode/
.idea/

# Virtual environment
venv/
.venv/
env/
ENV/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
coverage/
*.cover
*.coverage
*.xml
*.html
.junit/

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
*.egg

# Python caches
*.pyo
*.pyd

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env
